#hero {
    height: 100vh;
    background: url("/storage/pictures/bg_hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

#hero > * {
    position: relative;
    z-index: 2;
}

.hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-hero {
    font-size: 56px;
}

.title-hero-next {
    font-size: 56px;
}

.description-hero {
    margin-top: 10px;
    width: 60%;
    font-size: 22px;
}

.hero-btn {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.hero-btn a {
    text-decoration: none;
    padding: 8px 20px;
    font-size: 18px;
}

.startLearn {
    border-radius: 0px 20px 20px 20px;
    transition: all 0.3s ease-in-out;
    background: #ff8c42;
    color: white;
}

.startLearn:hover {
    border-radius: 20px;
    background: #ff8c42;
}

.explorePlatform {
    border-radius: 20px 0px 20px 20px;
    transition: all 0.3s ease-in-out;
    color: black;
}

.explorePlatform:hover {
    border-radius: 20px;
    background: #ff8c42;
    color: #f5f4ef;
}
