#join-comunity {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(36, 36, 36);
    text-align: center;
    justify-content: center;
    background: #f5f4ef;
}

.join-comunity-body h1 {
    margin-bottom: 20px;
}

.join-comunity-btn p {
    font-size: 20px;
}

.join-comunity-btn {
    margin-top: 30px;
}
.join-comunity-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    background: #ff8c42;
}
