#transformasi-pendidikan {
    height: 75vh;
    background: #f5f4ef;
    padding: 50px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-transformasi-pendidikan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-transformasi-pendidikan h1 {
    font-size: 36px;
    color: #664d36;
}

.title-transformasi-pendidikan p {
    margin-top: 10px;
    font-size: 20px;
    color: #ccbba8;
}

.body-transformasi-pendidikan {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    padding: 0 25px;
    gap: 30px;
}

.body-transformasi-pendidikan .box {
    height: 210px;
    width: 400px;
    background: #ffffff;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    outline: 1px solid #ccbba8;
}

.body-transformasi-pendidikan .box i {
    font-size: 50px;
    color: orange;
    font-weight: bold;
}

.body-transformasi-pendidikan .box h4 {
    font-size: 22px;
    margin: 15px 0 20px 0;
}

.body-transformasi-pendidikan .box p {
    font-size: 16px;
    color: #ccbba8;
}
